/*.events {
    height: 1400px;
    margin: 2em 0 0 2em;
}

.event {
    background: #2e3336;
}

.eventSubject, .eventTime {
    padding: 2em;
}*/

.events {
    width: 1024px;
    height: 768px;
    background: red;
}