html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Main page *******************************************************************/

body {
    width: 100%;
    height: 100%;
    background: #161b1f;
    font-family: 'Tele2 slab', sans-serif;
    color: #e0e0de;
    overflow-x: hidden;
    font-size: 2em;
}

    .busy {
        border: 6px solid rgba(128, 24, 14, 0.56);
        height: 1536px; /* Nexus 9 height */
    }

    .free {
        border: 6px solid rgba(117, 245, 133, 0.56);
        height: 1536px; /* Nexus 9 height */
    }

.center {
    padding-left: 3em;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 20%;
}

.head {
    margin-bottom: 4em;
    font-size: 2.5em;
}

    .location {
        padding-left: 0.5em;
    }

    /* RESOURCES *******************************************************************/

    .resources {
        padding-left: 0.5em;
        color: #929496;
    }

    .resources span {
        margin-right: 0.3em;
        padding-right: 0.1em;
        border-right: 1px solid #596072;
        vertical-align: top;
    }

    .resources span:last-child {
        border: 0 none;
    }

    .resources span.icon-user {
        padding-right: 0.3em;
     }

    .resources span.icon-camera {
        margin-left: -0.2em;
    }

    .resources .broken {
        color: red;
        border-right: 1px solid #596072;
    }

    ul.dropdown-menu {
        margin: -180px 0 0 -45px;
        height: 65px;
        width: 200px;
        background: #2e3336;
        color: #f8f8f8;
    }

    ul.dropdown-menu li {
        font-size: 3em;
        display: inline-block;
        border-right: 1px solid #000;
        outline: none !important;
        margin: -5px -5px 0 0;
        height: 65px;
        padding: 0px 0 0 20px;
        width: 100px;
    }

    ul.dropdown-menu li:last-child {
        border: 0 none;
    }

    ul.dropdown-menu li i {
        height: 70px;
        font-family: inherit;
    }

    ul.dropdown-menu li i:hover {
        outline: none !important
    }

    ul.dropdown-menu li i.ng-click-active {
        outline: none !important
    }

.info {

}

    .currentTime {
        font-size: 10em;
        border-right: 2px solid #363b41;
        height: 1.7em;
    }

    .info .next, .info .desc, .info .subj, .info .org, .info .time, .info .will {
        padding-left: 1em;
        font-size: 2em;
        color: #9c9d9e;
    }

    .info .next {
        color: #ffffff;
    }

    .info .will {
        margin-top: 1em;
    }


