
.icon-alert:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-repair:before { content: '\e802'; } /* '' */
.icon-badge:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-camera:before { content: '\e806'; } /* '' */
.icon-whiteboard:before { content: '\e807'; } /* '' */
.icon-light:before { content: '\e808'; } /* '' */