<div ng-controller="MainCtrl" class="container-fluid {{status}}">

    <div class="center">
        <div class="head">
            <div class="col-md-6 location">Versailles</div>
            <div class="col-md-6 resources"><span class="glyphicon glyphicon-user"><i>x8</i></span><span class="glyphicon glyphicon-facetime-video red"/><span class="glyphicon glyphicon-blackboard"></span><span
                    class="glyphicon glyphicon-lamp"></span></div>
        </div>

        <div class="info">
            <div class="col-md-6 currentTime">{{currentTime}}</div>

            <div class="col-md-6 next">{{meetingText}}</div>
            <div class="col-md-6 desc">{{nextEvent.Location.DisplayName | limitTo: 30}}</div>
            <div class="col-md-6 subj">{{nextEvent.Subject}}</div>
            <div class="col-md-6 org">{{nextEvent.Organizer.EmailAddress.Name}}</div>
            <div class="col-md-6 time">{{nextEvent.time}}</div>
            <div class="col-md-6 will">{{meetingWill}}</div>
        </div>
    </div>

</div>
